<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>FWaaS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"/>
    <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!--
    anatine, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

    Download: http://zypopwebtemplates.com/

    License: Creative Commons Attribution
    //-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
</head>

<body>

<section id="body" class="width">
    <aside id="sidebar" class="column-left">

        <header>
            <h1><a href="#">FWaaS Management Plateform</a></h1>
            <h2>Migrate Customers or Create new one</h2>
        </header>

        <nav id="mainnav">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('nc_add') }}">Add new Customer</a></li>
                <li><a href="{{ url_for('nc_w_template') }}">Using template</a></li>
                <li><a href="{{ url_for('nc_customised') }}">Customised</a></li>
                <li><a href="{{ url_for('nc_customised_vdom') }}">Ajouter VDOM</a></li>
                <li><a href="{{ url_for('nc_customised_admin') }}">Ajouter admin VDOM</a></li>
                <li class="selected-item"><a href="{{ url_for('nc_customised_interface') }}">Ajouter Interface</a></li>
                <li><a href="{{ url_for('nc_customised_ippool') }}">Ajouter IP Pool</a></li>
                <li><a href="{{ url_for('nc_customised_object') }}">Ajouter Objet</a></li>
                <li><a href="{{ url_for('nc_customised_route') }}">Ajouter Route</a></li>
                <li><a href="{{ url_for('nc_customised_policy') }}">Ajouter policy</a></li>
                <li><a href="#">Migrate an existing Customer</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </aside>
    <section id="content" class="column-right">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <code>{{ message }} </code>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <article>
            <h2>Attention !</h2>
            <h5>Administrator login is needed to access the management plateform</h5>
            <p>&nbsp;</p>
            {% block content %}
                <form method="POST" action="">
                    <h3>Parametres d'interface : </h3>
                    <blockquote>
                        <p>VDOM choisi: {{ form.vdom_list() }}
                            <br>
                    </blockquote>

                    <fieldset>
                        <legend>Customer Form</legend>


                        <legend>LAN settings</legend>
                        <p>{{ form.intrf_lan_name.label() }} {{ form.intrf_lan_name() }} </p>
                        <br>
                        <table>
                            <tr>
                                <th>{{ form.vlan_id_lan.label() }}</th>
                                <th>{{ form.ip_adresse_lan.label() }}</th>
                                <th>{{ form.masque_lan.label() }}</th>
                                <th>LAN access options</th>
                            </tr>
                            <tr>
                                <th>{{ form.vlan_id_lan() }}</th>
                                <th>{{ form.ip_adresse_lan() }}</th>
                                <th>{{ form.masque_lan() }}</th>
                                <th>{{ form.ssh_access_lan(value='Allow_ssh') }} ssh
                                    {{ form.https_access_lan(value='Allow_https') }} https
                                    {{ form.ping_access_lan(value='Allow_ping') }} ping
                                </th>
                            </tr>
                        </table>
                        <br>
                        {{ form.submit_lan(class_="formbutton") }}
                        <br>
                    </fieldset>
                </form>
            {% endblock content %}
            </fieldset>

        </article>
    </section>
    <div class="clear"></div>

</section>
</body>
</html>
