<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>FWaaS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"/>
    <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!--
    anatine, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

    Download: http://zypopwebtemplates.com/

    License: Creative Commons Attribution
    //-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
</head>

<body>

<section id="body" class="width">
    <aside id="sidebar" class="column-left">

        <header>
            <h1><a href="#">FWaaS Management Plateform</a></h1>
            <h2>Migrate Customers or Create new one</h2>
        </header>

        <nav id="mainnav">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('nc_add') }}">Add new Customer</a></li>
                <li><a href="{{ url_for('nc_w_template') }}">Using template</a></li>
                <li class="selected-item"><a href="{{ url_for('nc_customised') }}">Customised</a></li>
                <li><a href="{{ url_for('nc_customised_vdom') }}">Ajouter VDOM</a></li>
                <li><a href="{{ url_for('nc_customised_admin') }}">Ajouter admin VDOM</a></li>
                <li><a href="{{ url_for('nc_customised_interface') }}">Ajouter Interface</a></li>
                <li><a href="{{ url_for('nc_customised_ippool') }}">Ajouter IP Pool</a></li>
                <li><a href="{{ url_for('nc_customised_object') }}">Ajouter Objet</a></li>
                <li><a href="{{ url_for('nc_customised_route') }}">Ajouter Route</a></li>
                <li><a href="{{ url_for('nc_customised_policy') }}">Ajouter policy</a></li>
                <li><a href="#">Migrate an existing Customer</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </aside>
    <section id="content" class="column-right">
        <article>
            <h2>Attention !</h2>
            <h5>Administrator login is needed to access the management plateform</h5>
            <p>&nbsp;</p>

            <h3>Custom VDOM settings form : </h3>
            <blockquote>
                <p>Selected VDOM :
                    {% if not form.vdom_name.data %}
                        {{ form.vdom_name.data }} = 'root'
                    {% else %}
                        {{ form.vdom_name.data }}
                    {% endif %}
                    <br>
            </blockquote>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <code>{{ message }} </code>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <fieldset>
                <legend>Customer Form</legend>

                {% block content %}
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        {{ form.Customer_name.label() }}
                        {{ form.Customer_name() }}
                        <br>
                        {{ form.vdom_name.label() }}
                        {{ form.vdom_name() }}
                        <br>{{ form.submit_vdom (class_="formbutton") }}<br>
                        <legend>Vdom Admin Settings</legend>
                        {{ form.hidden_tag() }}
                        {{ form.admin_username.label() }}
                        {{ form.admin_username() }}
                        <br>
                        {{ form.admin_password.label() }}
                        {{ form.admin_password() }}
                        <br>{{ form.submit_admin (class_="formbutton") }}<br>
                        <legend>LAN settings</legend>
                        <p>{{ form.intrf_lan_name.label() }} {{ form.intrf_lan_name() }} </p>
                        <br>
                        <table>
                            <tr>
                                <th>{{ form.vlan_id_lan.label() }}</th>
                                <th>{{ form.ip_adresse_lan.label() }}</th>
                                <th>{{ form.masque_lan.label() }}</th>
                                <th>LAN access options</th>
                            </tr>
                            <tr>
                                <th>{{ form.vlan_id_lan() }}</th>
                                <th>{{ form.ip_adresse_lan() }}</th>
                                <th>{{ form.masque_lan() }}</th>
                                <th>{{ form.ssh_access_lan(value='Allow_ssh') }} ssh
                                    {{ form.https_access_lan(value='Allow_https') }} https
                                    {{ form.ping_access_lan(value='Allow_ping') }} ping
                                </th>
                            </tr>
                        </table>
                        <br>
                        {{ form.submit_lan(class_="formbutton") }}
                        <br>
                        <legend>WAN settings</legend>
                        <p>{{ form.intrf_wan_name.label() }} {{ form.intrf_wan_name() }} </p>

                        <br>
                        <table>
                            <tr>
                                <th>{{ form.vlan_id_wan.label() }}</th>
                                <th>{{ form.ip_adresse_wan.label() }}</th>
                                <th>{{ form.masque_wan.label() }}</th>
                                <th>WAN access options</th>
                            </tr>
                            <tr>
                                <th>{{ form.vlan_id_wan() }}</th>
                                <th>{{ form.ip_adresse_wan() }}</th>
                                <th>{{ form.masque_wan() }}</th>
                                <th>{{ form.ssh_access_wan(value='Allow_ssh') }} ssh
                                    {{ form.https_access_wan(value='Allow_https') }} https
                                    {{ form.ping_access_Wan(value='Allow_ping') }}ping
                                </th>
                            </tr>
                        </table>
                        {{ form.submit_wan(class_="formbutton") }}
                        <br>
                        <legend>IP Publique</legend>
                        {{ form.ip_publique_name.label() }} {{ form.ip_publique_name() }}<br>
                        {{ form.ip_publique.label() }} {{ form.ip_publique() }}<br>
                        <br>
                        {{ form.submit_pool(class_="formbutton") }}
                        <legend>Adresse Object</legend>
                        {{ form.adr_name.label() }} {{ form.adr_name() }}<br>
                        {{ form.ojbct_adr.label() }} {{ form.ojbct_adr() }}<br>
                        <br>
                        {{ form.submit_obj(class_="formbutton") }}
                        <legend>Static routes</legend>
                        <table>
                            <tr>
                                <th>{{ form.destination.label() }}</th>
                                <th>{{ form.gw.label() }}</th>
                                <th>{{ form.dst_masque.label() }}</th>
                                <th>{{ form.gw_intrf.label() }}</th>
                            </tr>
                            <tr>
                                <th>{{ form.destination() }}</th>
                                <th>{{ form.gw() }}</th>
                                <th>{{ form.dst_masque() }}</th>
                                <th>{{ form.gw_intrf() }}</th>
                            </tr>
                        </table>
                        <br>
                        {{ form.submit_route(class_="formbutton") }}
                        <br><br>
                        <legend>Policies</legend>
                        <table>
                            <tr>
                                <th>{{ form.src_intrf.label() }}</th>
                                <th>{{ form.src_adr.label() }}</th>
                                <th>{{ form.dst_intrf.label() }}</th>
                                <th>{{ form.dst_adr.label() }}</th>
                                <th>{{ form.services.label() }}</th>
                                <th>{{ form.nat_option.label() }}</th>
                                <th>{{ form.nat.label() }}</th>
                                <th>{{ form.action.label() }}</th>
                            </tr>
                            <tr>
                                <th>{{ form.src_intrf() }}</th>
                                <th>{{ form.src_adr() }}</th>
                                <th>{{ form.dst_intrf() }}</th>
                                <th>{{ form.dst_adr() }}</th>
                                <th>{{ form.services() }}</th>
                                <th>{{ form.nat_option() }}</th>
                                <th>{{ form.nat() }}</th>
                                <th>{{ form.action() }}</th>
                            </tr>
                        </table>
                        <br>
                        {{ form.submit_pol(class_="formbutton") }}
                        <br><br>
                    </form>
                {% endblock content %}
            </fieldset>

        </article>
    </section>
    <div class="clear"></div>

</section>
</body>
</html>
