<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <code>{{ message }} </code>
            <br>
        {% endfor %}

    {% endif %}
{% endwith %}
{% block content %}
    <form method="POST" action="">
        <legend>Migration</legend>
        {{ form.vdom_v1() }}
        {{ form.vdom_v2() }}
        {{ form.vdom_v1_Interfaces() }}
        {{ form.vdom_v2_Interfaces() }}
        {{ form.interface_Mapping() }}
        {{ form.submit_mapping() }}
        <br>
        {{ form.submit_param (class_="formbutton") }}<br>
    </form>
{% endblock content %}
</body>
</html>